.page {
  font-family: 'Inter', 'Verdana', 'Arial', sans-serif;
  max-width: 390px;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: auto;
}
