@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__bar/card__bar.css);
@import url(../blocks/card/__bar/_color/card__bar_color_white.css);
@import url(../blocks/card/__bar/_color/card__bar_color_red.css);
@import url(../blocks/card/__bar/_color/card__bar_color_green.css);
@import url(../blocks/card/__bar/_color/card__bar_color_blue.css);
@import url(../blocks/card/__bar/_color/card__bar_color_yellow.css);
@import url(../blocks/card/__bar/_color/card__bar_color_magenta.css);
@import url(../blocks/card/__bar/_color/card__bar_color_turquoise.css);
@import url(../blocks/card/__bar/_color/card__bar_color_orange.css);
@import url(../blocks/card/__bar/_color/card__bar_color_raspberry.css);
@import url(../blocks/card/__bar/_color/card__bar_color_springgreen.css);
@import url(../blocks/card/__bar/_color/card__bar_color_violet.css);
@import url(../blocks/card/__bar/_color/card__bar_color_cyan.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__desc/card__desc.css);
